@use '../../../assets/styles/abstracts/variables' as *;
:host {
    background-color: white;
    color: $jet;
    display: flex;
    padding: 18px 8px;
    border-bottom: 1px solid gainsboro;
    box-sizing: border-box;
}
.desktop-mode {
    display: none;
}
.mobile-mode {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    // padding: 0.5rem;
}
.btn-container {
    display: flex;
    border-radius: 30px;
    width: 100%;
    padding: 0.8rem;
    background-color: whitesmoke;
    button {
        background-color: transparent;
        border: none;
    }
    .form-display-btn {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.price-range {
    width: 380px;
}
.modal-container {
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .25);
    .modal {
        position: fixed;
        overflow: hidden;
        border: 1px solid $isabelline;
        border-radius: 12px;
        box-shadow: 0 5px 15px 0 rgba($color: #000000, $alpha: .15);
        z-index: 200;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        opacity: 1;
        width: 520px;
        height: 650px;
        max-width: 100vw;
        max-height: 100vh;
    }
    .modal-header {
        padding: 14px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid gainsboro;
        .title {
            font-weight: 500;
            font-size: 1.125rem;
        }
        .close-btn {
            position: absolute;
            background-color: transparent;
            border: none;
            top: 5px;
            left: 5px;
            cursor: pointer;
        }
    }
    .modal-content {
        overflow-y: scroll;
        max-width: 100%;
        padding: 20px 24px 48px;
        height: 70vh;
    }
    .modal-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid gainsboro;
        padding: 14px 32px;
        .reset-btn {
            border: none;
            background-color: transparent;
            text-decoration: underline;
            cursor: pointer;
        }
        .confirm-btn {
            border-radius: 47px;
            border: 1px solid $safety-orange;
            color: $safety-orange;
            background-color: white;
            padding: 10px 20px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}
@media screen and (min-width: $desktop-width) {
    .desktop-mode {
        display: flex;
        height: 100%;
    }
    .mobile-mode {
        display: none;
    }
    .desktop-form {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding: 1rem;
        .seperator {
            width: 1px;
            height: 40px;
            background-color: gainsboro;
        }
    }
    .location-input {
        display: flex;
        border-radius: 30px;
        padding: 0.75rem;
        width: 280px;
        border: 1px solid $pastel-gray;
    }
    .location-input::placeholder {
        color: $pastel-gray;
    }
    .toggle-btn {
        display: flex;
        border: 1px solid $pastel-gray;
        border-radius: 2rem;
        padding: 0.75rem;
        background-color: transparent;
        cursor: pointer;
        gap: 0.3rem;
    }
    .toggle-btn:hover {
        background-color: $snow;
    }
    .search-btn {
        display: flex;
        background-color: $safety-orange;
        color: white;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        padding: 0.75rem;
        height: 42px;
        width: 108px;
    }
    .search-btn:hover {
        background-color: $dark-orange;
    }
    .notification-btn {
        color: $safety-orange;
        background-color: transparent;
        border: none;
        display: flex;
        gap: 0.3rem;
    }
    .form-section {
        position: relative;
        .form-card {
            position: absolute;
            top: 100%;
            right: 0;
            border-radius: 12px;
            border: 1px solid $isabelline;
            box-shadow: $elevation-xlarge;
            z-index: 100;
            margin-top: 10px;
            background-color: white;
            
            
        }
    }
    .transaction-select {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            color: $jet;
            display: flex;
            justify-content: space-between;
            min-width: 154px;
            align-items: center;
            padding: 10px 20px;
            height: 44px;
            gap: 12px;
            font-size: 1rem;
        }
        a:hover {
            background-color: $snow;
        }
        .selected {
            font-weight: 600;
        }
        svg {
            color: $safety-orange;
        }
    }
}