@use '../../../assets/styles/abstracts/variables' as *;
.profile-sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #30313f;
    color: white;
}
.user-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.75rem 0.5rem;
    .fullname {
        font-weight: 700;
        font-size: 1.25rem;
    }
}
.publish-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .publish-link {
        display: flex;
        background-color: #10ad6f;
        color: white;
        border: 1px solid #10ad6f;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        border-radius: 30px;
        font-weight: 500;
        padding: 0.5rem 1rem;
        text-decoration: none;
        width: 80%;
    }
    
}
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    a {
        color: white;
        text-decoration: none;
        display: flex;
        gap: 0.5rem;
        border-radius: 5px;
        padding: 0.75rem 0.5rem;
    }
    a:hover {
        background-color: #23242c;
    }
}
.logout-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    button {
        background-color: transparent;
        border: none;
        color: #ccc;
        cursor: pointer;
    }
}
@media screen and (min-width: $desktop-width) {
    .profile-sidebar {
        min-height: calc(100vh - $header-height);
    }
}