@use '../../../assets/styles/abstracts/variables' as vars;

@use '../../../assets/styles/abstracts/mixins' as mix;
:host {
    position: absolute;
    max-width: 100vw;
    overflow: hidden;
}
.page-content {
    @include mix.under-header(vars.$header-mobile-height);
    min-height: calc(100vh - vars.$header-mobile-height);
}
@media screen and (min-width: vars.$desktop-width) {
    .page-content {
        @include mix.under-header(vars.$header-height);
        min-height: calc(100vh - vars.$header-height);
    }
}
