@use '../../../../assets/styles/abstracts/variables' as *;
:host {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 18px;
    color: $jet;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid $pastel-gray;
    cursor: pointer;
}
.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $safety-orange;
    color: $safety-orange;
    background-color: rgb(255, 250, 245);
    border-radius: 18px;
    gap: 0.5rem;
    button {
        background-color: transparent;
        border: none;
    }
}