@use '../../../assets/styles/abstracts/variables' as *;
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}
.form-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.form-error-msg {
    color: red;
}
.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
    input {
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 2.5rem;
        padding: 0 0.5rem;
        direction: rtl;
    }
    
}
.form-error-msg {
    display: none;
}
.ng-submitted {
    input.ng-invalid.ng-pristine {
        border: 1px solid red;
    }
    input.ng-invalid.ng-pristine + .form-error-msg {
        display: block;
    }
}
.form-submit-btn {
    background-color: $safety-orange;
    border: 1px solid $safety-orange;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: $safety-orange;
}
.register-link {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}
.title {
    text-align: center;
    font-size: 1.5rem;
}
.checkbox-container {
    display: grid;
    grid-template-columns: 1.5rem auto;
    grid-template-areas: 'checkbox text';
    width: 100%;
    column-gap: 0.3rem;
    position: relative;
    input[type=checkbox] {
        grid-area: checkbox;
        border-radius: 2px;
        width: 1rem;
        height: 1rem;
        border: 1px solid $jet;
        appearance: none;
        display: block;
        cursor: pointer;
    }
    input[type="checkbox"]:focus {
        border-color: $safety-orange;
        outline: none;
    }
    input[type=checkbox]:checked {
        border-color: $safety-orange;
        background-color: $safety-orange;
    }
    .checkbox-text {
        grid-area: text;
    }
    .checkbox-icon {
        position: absolute;
        top: 0.25rem;
        right: 0.3rem;
        color: white;
        opacity: 0;
        width: 0.75rem;
        height: 0.75rem;
        cursor: pointer;
        pointer-events: none;
    }
    input[type=checkbox]:checked ~ .checkbox-icon {
        opacity: 1;
    }
}
.ng-submitted .checkbox-container.error {
    grid-template-rows: auto 1rem;
    grid-template-areas: 
        'checkbox text'
        'error error';
    
    .form-error-msg {
        grid-area: error;
    }
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
@media screen and (min-width: $desktop-width) {
    .image-container {
        display: none;
    }
}