@use '../../../assets/styles/abstracts/variables' as *;
:host {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    background-color: $snow;
    gap: 12px;
    color: $jet;
}
img {
    width: 100%;
    height: 100%;
}
.card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    padding: 24px 16px 30px;
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .header {
        display: flex;
        align-items: center;
        gap: 20px;
        h1 {
            font-size: 1.5rem;
            margin: 0;
            padding: 0;
        }
    }
    .step-num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid $caribbeanGreen;
        color: $caribbeanGreen;
    }
    form {
        padding: 15px 24px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    a {
        text-decoration: none;
        color: $safety-orange;
    }
    .form-section {
        display: flex;
        flex-direction: column;
        gap: 4px;
        label {
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
        input, select {
            border-radius: 4px;
            background-color: white;
            border: 1px solid $pastel-gray;
            max-width: 260px;
            width: 100%;
            padding: 0 11px;
            min-height: 42px;
            outline: none;
            line-height: 1.15;
            box-sizing: border-box;
        }
        .error-msg {
            color: red;
        }
    }
    .two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        width: 260px;
        .form-section {
            width: 100%;
        }
    }
    .seperator {
        height: 1px;
        width: 100%;
        background-color: $isabelline;
    }
    .input-row {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // border-radius: 4px;
        width: 260px;
        button {
            width: 100%;
            border: 1px solid $pastel-gray;
            border-left: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            cursor: pointer;
            min-height: 42px;
            font-size: 0.875rem;
        }
        button:first-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        button:last-child {
            border-left: 1px solid $pastel-gray;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        button:hover, button.selected {
            border-color: $safety-orange;
            color: $safety-orange;
        }
        button.selected {
            background-color: $bianca;
        }
    }
    .btn-container {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        margin-top: 50px;
        button {
            min-height: 36px;
            font-size: 0.875rem;
            padding: 0 18px;
            background-color: white;
            border: 1px solid $pastel-gray;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
        }
        button[type=submit] {
            border-color: $safety-orange;
            color: $safety-orange;
        }
    }
}
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    // width: 100%;
    padding: 6px;
    .checkbox {
        position: relative;
        display: flex;
        input[type=checkbox] {
            appearance: none;
            border: 1px solid $spanishGrey;
            border-radius: 2px;
            width: 16px;
            height: 16px;
            margin: 0;
            padding: 0;
            min-height: 16px;
            display: inline-block;
        }
        input[type=checkbox]:checked {
            background-color: $safety-orange;
            border-color: $safety-orange;
        }
        .checkbox-icon {
            position: absolute;
            right: 3px;
            top: 3px;
            width: 10px;
            height: 10px;
            opacity: 0;
            pointer-events: none;
        }
        input[type=checkbox]:checked ~ .checkbox-icon {
            opacity: 1;
            color: white;
        }
    }
}
.checkbox-container:hover {
    input[type=checkbox] {
        border-color: $safety-orange;
    }
    input[type=checkbox]:checked {
        background-color: $dark-orange;
        border-color: $dark-orange;
    }
}
.transaction-type {
    display: flex;
    gap: 30px;
    width: 100%;
    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: white;
        border: 1px solid $pastel-gray;
        width: 100%;
        padding: 12px 0 22px;
        cursor: pointer;
    }
    button:hover h1, button.selected h1 {
        color: $safety-orange;
    }
    button.selected {
        border-color: $safety-orange;
    }
    img {
        height: 115px;
    }
    h1 {
        margin: 0;
        padding: 0;
        font-weight: 500;
    }
    p {
        color: $spanishGrey;
        padding: 0;
    }
}
.publisher {
    border-radius: 10px;
    border: 1px solid $pastel-gray;
    padding: 20px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 52px;
        height: 52px;
    }
    p {
        padding: 0;
    }
    .info {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        button {
            border: 1px solid $pastel-gray;
            border-left: none;
            background-color: white;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 42px;
            padding: 0 20px;
            cursor: pointer;
        }
        button:first-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        button:last-child {
            border-left: 1px solid $pastel-gray;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}
.feature-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    .feature {
        border: 1px solid $pastel-gray;
        padding: .51rem 1rem;
        border-radius: .28rem;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        background-color: white;
        cursor: pointer;
        width: 100%;
        gap: 0.3rem;
    }
    .feature:hover, .feature.selected {
        color: $safety-orange;
        border: 1px solid $safety-orange;
    }
    .feature.selected {
        background-color: $bianca;
    }
}
.plan-select {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 24px 16px 30px;
    .plan {
        display: flex;
        // justify-content: space-between;
        gap: 36px;
        align-items: center;
        width: 100%;
        background-color: $snow;
        border-radius: 14px;
        border: 1px solid gainsboro;
        padding: 24px 22px;
        box-sizing: border-box;
        .seperator {
            width: 1px;
            height: 100%;
            background-color: gainsboro;
        }
        
        img {
            max-width: 120px;
            border-left: 1px solid gainsboro;
            padding-left: 20px;
            display: block;
        }
        .content {
            width: 100%;
            p, h2 {
                margin: 0;
                padding: 0;
            }
            p {
                color: $caribbeanGreen;
                font-weight: 600;
            }
            .plan-details {
                padding: 0;
                margin: 0;
                list-style-position: inside;
                li {
                    color: #bbb;
                    span {
                        color: $jet;
                    }
                }
            }
        }
        .summary {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .price {
                .days {
                    color: rgb(130, 130, 130);
                }
                
                b {
                    font-size: 1.75rem;
                    color: $jet;
                }
                
            }
            button {
                background-color: white;
                border: 1px solid $jet;
                border-radius: 30px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 172px;
                padding: 0 20px;
                min-height: 42px;
            }
        }
    }
    .plan.premium {
        border: 2px solid transparent;
        background-image: linear-gradient(#fffaf5,#fffaf5),linear-gradient(45deg,#ff6500,#fcd900);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        position: relative;
        overflow: hidden;
        .banner {
            position: absolute;
            color: $safety-orange;
            font-weight: 500;
            background-color: rgba($color: $safety-orange, $alpha: 0.1);
            padding: 5px 0;
            width: 100%;
            text-align: center;
            left: -56%;
            top: 15%;
            transform: translate(10.1%, 1%) rotate(-49deg);
            display: block;
        }
        img {
            border-left: 1px solid rgb(255, 223, 196);
        }
        .content .plan-details li {
            color: $caribbeanGreen;
            span {
                color: $jet;
            }
        }
        .summary {
            justify-content: flex-end;
            button {
                background-color: $caribbeanGreen;
                color: white;
                border: none;
            }
        }
    }
}