@use '../../../assets/styles/abstracts/variables' as *;
@use '../../../assets/styles/abstracts/mixins' as mix;
.hide-for-mobile {
    display: none;
}
.page-content {
    @include mix.under-header($header-mobile-height);
    background-color: $snow;
    min-height: calc(100vh - $header-mobile-height);
}
@media screen and (min-width: $desktop-width) {
    .page-content {
        display: grid;
        grid-template-columns: $sidebar-width auto;
        grid-template-areas: 'sidebar content';
        @include mix.under-header($header-height);
        min-height: calc(100vh - $header-height);
    }
    .profile-content {
        grid-area: content;
    }
    .hide-for-mobile {
        display: block;
    }
    .sidebar {
        position: fixed;
        top: $header-height;
        min-height: calc(100vh - $header-height);
        width: $sidebar-width;
    }
}