@use '../../assets/styles/abstracts/mixins' as *;
@use '../../assets/styles/abstracts/variables' as *;
.page-content {
    @include under-header($header-mobile-height);
    min-height: calc(100vh - $header-mobile-height);
    width: 100%;
    box-sizing: border-box;
}
.site-link-container {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    // flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    width: 100%;
    gap: 0.3rem;
    box-sizing: border-box;
    .site-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        color: $jet;
    }
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: $isabelline;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width: $desktop-width) {
    .page-content {
        @include under-header($header-height);
        min-height: calc(100vh - $header-height);
    }
}